* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* BURGER MENU */

#side-bar {
    position: absolute;
    width: 330px;
    height: 100%;
    background: #F5F5F5;
    top: 0;
    left: -330px;
    transition: 0.5s ease-out;
    z-index: 4;
    font-family: 'Questrial';
    font-weight: 600;
    text-transform: uppercase;
  }

  #side-bar a {
    color: rgb(35, 67, 66);
    text-decoration: none;
    padding: 10px;
  }

  #side-bar ul {
    margin-top: 20px;
  }

  #side-bar li {
    padding: 20px;
  }

  #side-bar li:hover {
    background-color: #d2c8c8;
    transition: 0.1s ease-in-out;
  }
  
  #side-bar.active {
    left: 0;
  }
  
  .active span {
    position: absolute;
  }
  
  .active span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .active span:nth-child(2) {
    opacity: 0;
  }
  
  .active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  .active ~ .content {
    opacity: 0.3;
  }
  
  .toggle-btn {
    position: absolute;
    top: 30px;
    left: 340px;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  .toggle-btn span {
    width: 40px;
    height: 7px;
    border-radius: 5px;
    background: #a8a4a4;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
    display: none;
  }
  
/* END BURGER MENU */


nav {
    height: 50px;
    justify-content: space-between;
    font-family: 'Questrial';
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px;
    background-color:#F5F5F5;

}

nav a {
    color: rgb(35, 67, 66);
    text-decoration: none;
}

nav a:hover {
    opacity: 70%;
}

.max-width {
    min-width: 90%;
}

.logo {
    font-family: 'Questrial';
    font-weight: 600;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F5F5F5;
    position: fixed;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.desktopMenu {
    display: block;
    position: fixed;
    width: 100%;
    transition: 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    top: 100px;
    z-index: 4;
}

.flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.flex-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-champ {
    display: flex;
    align-items: center;
    gap: 30px;
}

.flex-champ img {
    max-width: 350px;
    max-height: 100%;
}

.article {
    align-items: center;
    background-color: #F5F5F5;
}

.article-page {
    align-items: center;
    padding: 70px;
    background-color: #F5F5F5;
}

.background-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-top: 180px;
    background-image: url("br-index.jpg");
    background-size: cover;
    max-width: 100%;
    height: 600px;
    text-align: center;
}

.background-title {
    background-image: url("br-index.jpg");
    background-size: cover;
    height: 400px;
    padding: 80px;
    padding-top: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Serif Display';
    color: white;
    font-size: 1.5em;
}

.text-align-center {
    text-align: center;
}

.name {
    font-family: 'Questrial';
    text-transform: uppercase;
    color: white;
    font-size: 3em;
}


.description {
    font-family: 'Questrial';
    text-transform: uppercase;
    color: white;
    font-size: 1.8em;
    margin: 30px;
    font-weight: 300;
}

.questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    font-family: 'DM Sans';
    text-transform: uppercase;
    width: 100%;
    min-height: 300px;
    background-color: #F5F5F5;
    font-size: 0.5em;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border-radius: 10px;
}

.position {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Style de la face avant de la carte */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #6f918ab0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 10px;
}

/* Style de la face arrière de la carte */
.card-back {
    background-color: #dcd2cd;
     color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    color: black;
    padding: 30px;
    line-height: 25px;
    border-radius: 10px;
}

/* Classe pour le retournement de la carte */
 .flipped {
     transform: rotateY(180deg);
}

.flex-jcc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.padding {
    padding: 30px;
}

.padding-fixed {
    padding: 30px;       
}

.padding-img {
    padding: 50px;
}

.title-margin {
    padding: 30px;
}

.text-margin {
    padding: 15px;
}

.darker-bg {
    background-color: #EFEBE9;
    padding: 40px;
}

.green-bg {
    font-family: 'Questrial';
    text-transform: uppercase;
    color: #425e58;
    font-size: 1.4em;
    text-align: center;
    line-height: 30px;
}

.green-questrial-title {
    
    font-family: 'Questrial';
    text-transform: uppercase;
    color: #425e58;
    font-size: 1.4em;
    text-align: left;
    padding-bottom: 10px;
}

.green-title {
    padding: 40px;
    font-family: 'DM Serif Display';
    font-style: italic;
    color: #425e58;
    font-size: 1.5em;
    text-align: center;
}

.white-button {
    font-family: 'Questrial';
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    padding: 20px 10px;
    border: 2px solid white;
    text-decoration: none;
    margin: 30px;
    width: 150px;
    transition: 0.3s;
}

.white-button:hover {
    background-color: white;
    color: rgb(88, 88, 88);
}

.black-button {
    font-family: 'Questrial';
    text-transform: uppercase;
    color: #366359;
    padding: 10px 20px;
    border: 2px solid #366359;
    text-decoration: none;
    width: 300px;
    transition: 0.3s;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.DM-Serif-title {
    font-family: 'DM Serif Display';
    color: #1E3933;
}

.DM-Serif-white-title {
    font-family: 'DM Serif Display';
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.grid-categories {
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 40px;
}

a {
    text-decoration: none;
}

.addictions:hover, .stress:hover, .sommeil:hover, .poids:hover, .peurs:hover, .confiance:hover, .relations:hover, .passé:hover, .deuil:hover, .douleur:hover {
    opacity: 80%;
    transition: 0.2s ease-in-out;
    transform: translateY(-3px);

}

.addictions {
    background-image: url('addiction.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stress {
    background-image: url('stress.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sommeil {
    background-image: url('sommeil.webp');
    background-size: cover;
    background-attachment: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poids {
    background-image: url('poids.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.douleur {
    background-image: url('douleur.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peurs {
    background-image: url('peur.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confiance {
    background-image: url('confiance.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relations {
    background-image: url('relations.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passé {
    background-image: url('passé.webp');
    background-size: 100% auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deuil {
    background-image: url('deuil.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .hidden-right {
    opacity: 0;
    transform: translateX(+50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .visible {
    opacity: 1;
    transform: translateX(0);
    z-index: 3;
  }

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F5F5F5;
}

.grid-pic {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 60px;
}

.grid-pic img {
    max-width: 95%;
}

.grid-man-pic {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}


.man-img {
    width: 80%;

}


p {
    font-family: 'DM Sans';
    font-size: 1.1em;
    text-align: justify;
}

.black-button:hover {
    background-color: #366359;
    color: white;
}

.mains {
    max-width: 500px;
}

legend {
    padding: 3px 10px;
  }

fieldset {
    text-align: center; /* Centrer le contenu du fieldset */
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label p {
    color: rgb(81, 81, 81);
}

input[type="text"], input[type="email"], select, textarea {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(72, 95, 87, 0.094);
}

select, option, input, input:focus, textarea {
    font-family: 'DM Sans';
  }

input:focus, textarea:focus {
    border: none;
  }

textarea {
    resize: none;
  }

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-image: url("br-index.jpg");
    background-size: cover;
    max-width: 100%;
    height: 20vh;
    text-align: center;
    font-family: 'Questrial';
    text-transform: uppercase;
    color: white;
}

.footer {
    display: flex;
    align-items: stretch;
    padding: 30px;
    background-color: #EFEBE9;
    min-height: 150px;
    justify-content: space-around;
    align-items: center;
    color: rgb(82, 82, 82);
    font-size: 0.9em;
}

.footer h3 {
    font-family: 'Questrial';
    text-transform: uppercase;
}

.footer a {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.liens {
    font-size: 0.9em;
    display: block;
}

.liens h3 {
    padding: 3px;
}

.footer a:hover {
    opacity: 50%;
}

.address, .phone {
    display: flex;
    gap: 30px;
}


@media screen and (max-width: 1100px) {

    nav {
        font-size: 0.8em;
    }

    .description {
        font-size: 1.5em;
    }

    .name {
        font-size: 2.5em;
    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .padding-img {
        padding: 0;
    }

    .flex-champ {
        display: flex;
        flex-direction: column;
    }

    .flex-champ img {
        max-width: 100%;
        max-height: 100%;
    }

    .grid-categories {
        grid-template-columns: 100%;
    }

    .flex {
        align-items: center;
    }

    .liens {
        display: none;
    }

    .text-card {
        font-size: 1.8em;
        line-height: 20px;
    }
    
}


@media screen and (max-width: 800px) {

    .bar {
        display: block;
    }
    
    .desktopMenu {
        display: none;
    }

    .background-image {
        height: 700px;
        padding-top: 150px;
    }

    .background-title {
        padding-top: 150px;
        font-size: 1.1em;
    }
    
    .DM-Serif-title {
        font-size: 1.5em;
    }


    .toggle-btn span {
        display: block;
      }

    .description {
        font-size: 1em;
    }

    .flex-champ img {
        min-width: 250px;
        max-height: 100%;
    }

    .name {
        font-size: 2em;
    }

    .padding {
        padding: 0;
    }
  

    .padding-responsive {
        padding: 20px;
    }

    p {
        text-align: left;
        font-size: 0.9em;
    }

    .grid-man-pic, .grid-pic {
        display: block;
    }

    .man-img, .grid-pic img, .mains {
        display: none;

    }

    .flex-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex {
        padding: 0px;
    }

    .white-button {
        width: 80%;
    } 
    
    .max-width {
        max-width: 100%;
    }

    .DM-Serif-white-title {
        font-size: 1.8em;
    }

    .text-card {
        font-size: 1.3em;
        line-height: 11px;
        padding: 25px;
    }

    .position {
        bottom: 30%;
        right: 50%;
    }

    .hidden-left {
        transform: translateX(-30px);
    }

    .hidden-right {
        transform: translateX(+30px);
    }

    .addictions, .stress, .sommeil, .poids, .douleur, .peurs, .confiance, .relations, .passé, .deuil {
        background-size:cover;
        justify-content: center;
    }

    
    .darker-bg {
        padding: 18px;
    }

    .text-margin {
        padding: 10px;
    }

    .title-margin {
        padding:15px;
    }

    .article-page {
        padding: 30px;
    }

    
    .flex-champ img {
        min-width: 280px;
    }

    .green-bg {
        padding: 0;
        text-align: justify;
                font-size: 0.9em;
    }

    input[type="text"], input[type="email"], select, textarea {
        width: 90%;
    }

    .address, .phone {
        gap: 10px;
    }

    .footer {
        font-size: 0.8em;
    }
    

}
